node_modules
.env.development
.env.production
.env
.env.local
.next/
jsconfig.json

*.class
*.war
*.jar
*.ear
*.exe
*.dll

.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

*.log
logs/
*.out

*.bak
*.backup

*.swp
*.swo
*.tmp
cache/

